<!-- Commenting out the SPEAK control to be able to rip off favorites -->

<!--<div class="action-ctrl">
  <sc-dropdown *ngIf="!shouldAutoPromoteActions()" #dropdown>
    <button scButton scDropdownToggle [class.btn-icon-only]="true"></button>
    <sc-dropdown-menu menuAlignment="right">
      <ng-content></ng-content>
      <div *ngFor="let action of view?.Actions" class="dropdown-item" [class.disabled]="!action.IsEnabled">
        <button class="action-ctrl-action" [attr.title]="tooltipAttribute(action)" [disabled]="!action.IsEnabled" (click)="doAction(action)"
          id="action-{{view.Name}}-{{action.Name}}">
          <sc-icon size="small" color="basic-x-dark" [icon]="action.Icon"></sc-icon>{{action.DisplayName}}
        </button>
      </div>
    </sc-dropdown-menu>
  </sc-dropdown>

  <div class="btn-group fav-group" role="group" *ngIf="shouldAutoPromoteActions()">
    <button *ngFor="let action of view?.Actions" type="button" class="btn btn-icon-only btn-secondary" [class.disabled]="!action.IsEnabled"
      [attr.title]="tooltipAttribute(action)" [disabled]="!action.IsEnabled" (click)="doAction(action)" id="action-{{view.Name}}-{{action.Name}}">
      <sc-icon size="small" color="basic-x-dark" [icon]="action.Icon"></sc-icon>
    </button>
  </div>
</div>-->
<div class = "breadCrumbsNavigation" *ngIf = "display">
  <div class = "breadCrumbsNavigation__item" *ngFor = "let item of breadCrumbs">
    <div class = "breadCrumbsNavigation__item--link">
      <a href = {{item.url}}>{{item.title}}</a>
      <span (click)="loadSubItems($event, item)"></span>
    </div>
    <div class="breadCrumbsNavigation__item--children"  *ngIf="checkItemExists(item) && item.active">
      <div *ngFor = "let child of item.children">
        <div class = "breadCrumbsNavigation__item--link">
            <a href = {{child.url}}><img *ngIf="child.img" src = "{{child.img}}"><span>{{child.title}}</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
