<div class = "breadCrumbsNavigation" *ngIf="display">
  <div class = "breadCrumbsNavigation__item" *ngFor = "let item of breadCrumbs">
    <div class = "breadCrumbsNavigation__item--link">
      <a href = {{item.Href}}>{{item.DisplayName}}</a>
      <span (click)="loadSubItems($event, item)"></span>
    </div>
    <div class="breadCrumbsNavigation__item--children"  *ngIf="checkItemExists(item) && item.active">
      <div *ngFor = "let child of item.children">
        <div class = "breadCrumbsNavigation__item--link">
            <a href = {{child.Href}}><img src="{{child.Icon}}"><span>{{child.DisplayName}}</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
